<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Términos de Servicio</title></%block>

<section class="static-container tos">
  <h1>INSTITUTO DE ALTOS ESTUDIOS NACIONALES</h1>
  <h1>CAMPUS VIRTUALES DEL IAEN</h1>

  <p><strong>TERMINOS DE SERVICIO</strong></p>
  <p>El presente aviso legal regula el acceso y el uso del servicio web: upex.iaen.edu.ec que el Instituto de Altos Estudios Nacionales IAEN, pone a disposición de los usuarios de internet interesados en sus servicios y contenidos relacionados.
  </p>

  <p>La utilización de este Sitio Web implica la plena aceptación de las disposiciones que se indicarán a continuación:</p>


  <p>Disponibilidad de la información. El IAEN no garantiza el funcionamiento y disponibilidad del sitio web durante los 365 días del año, las 24 horas del día, por lo tanto no asume responsabilidad alguna sobre la disponibilidad de su servidor. Sin embargo se ejecutarán todas las acciones para que el impacto por tareas de mantenimiento de esta página sea el mínimo posible.
  </p>

  <p>Contenido de la aplicación. El IAEN, a través de su plataforma, ofrece su contenido como un servicio a sus Usuarios. Todo el contenido utilizado en la plataforma estará  sujeto a la licencia  <a href="http://creativecommons.org/licenses/by-sa/3.0/ec/"> CC BY-SA 3.0 EC </a>, por tal motivo el usuario no puede aplicar términos legales ni medidas tecnológicas que restrinjan legalmente a otros hacer cualquier uso permitido por la licencia. Adicionalmente el IAEN no se hace responsable por las interpretaciones del contenido, ni el uso indebido del mismo y de sus servicios e información.
  </p>

  <p>Restricciones de uso. El IAEN  le autoriza a acceder y utilizar el Portal y los Servicios, y el Usuario acepta que cualquier quebrantamiento de estas condiciones constituirá un incumplimiento de los presentes Términos de Uso por su parte:
    <ul>
      <li>El Usuario se obliga a no alterar o modificar ninguna parte del Portal o de los Servicios.</li>
      <li>El Usuario se obliga a no eludir, desactivar o manipular de cualquier otra forma (o tratar de eludir, desactivar o manipular) las funciones de seguridad del Sitio Web.</li>
      <li>El Usuario se obliga a no recabar datos personales de ningún usuario del Portal o los Servicios.</li>
      <li>El Usuario reconoce ser el único responsable (sin que el IAEN asuma responsabilidad alguna frente al Usuario o a cualquier tercero) del incumplimiento de sus obligaciones previstas en los Términos de Uso y de las consecuencias (incluyendo cualesquiera pérdidas o daños en que el IAEN pueda incurrir) derivadas de dicho incumplimiento.</li>
    </ul>
  </p>

  <p id="privacy"><strong>POLITICAS DE PRIVACIDAD</strong></p>
  <p>El Instituto de Altos Estudios Nacionales IAEN utilizará los datos de contacto ingresados por los visitantes, para informarlos respecto de las inquietudes, o solicitudes presentadas,utilizando como medios de comunicación el correo electrónico. El IAEN guarda la confidencialidad de la información que los usuarios ingresen como parte del registro en la plataforma. Toda información ingresada en el sitio web por los usuarios, será almacena en bases de datos pertenecientes al IAEN, las mismas que se encuentran protegidas del acceso por parte de terceros. Toda la información ingresada en el sitio web, incluso aquella generada y obtenida por el envío de cookies, se encuentra protegida por mecanismos tecnológicos que eviten el acceso no autorizado a la misma por parte de terceros; con la finalidad de mantener la confidencialidad de la misma. Dicha información se encuentra amparada por la normativa vigente relacionada al uso y manejo de información de la República del Ecuador.
  </p>
  <p>La transmisión de la información, desde y hacia el sitio web, se realiza por canales seguros que protegen la información en tránsito enviada por el visitante,
  </p>

  <p>En el Sitio se han incluido enlaces a páginas o sitios web de terceros (“links”) que se han considerado de interés para los usuarios. No obstante, el IAEN no asume ninguna responsabilidad derivada del acceso y de los contenidos de enlaces de terceros a los que se hace referencia en el sitio web. 
  </p>

  <p>El IAEN se reserva el derecho a cambiar o modificar en cualquier momento y sin notificación previa, la presente política de privacidad. La utilización por parte del usuario o el acceso al sitio web del IAEN implicará la aceptación tácita de dichas modificaciones o de las nuevas condiciones. 
  </p>
  <p id="honor"><strong>CODIGO DE HONOR</strong></p>
 
  <p>Es responsabilidad de todos los usuarios de la plataforma UPEX cumplir con el siguiente código de honor.</p>
  <p>
    <ul>
      <li>Completar todas las evaluaciones, los problemas y tareas con su propio trabajo (a menos que se permita expresamente la colaboración).
      </li>

      <li>Abstenerse de cualquier actividad que de manera deshonesta o fraudulenta mejorar sus resultados o en desventaja a otros en el curso.
      </li>

      <li>Abstenerse de revelar las respuestas a las evaluaciones, los problemas, las tareas y los deberes a los demás.
      </li>

      <li>Mantener sólo una cuenta de usuario y no dejar que nadie más use su nombre de usuario o contraseña.
      </li>

      <li>No acceder o intentar acceder a la cuenta de otro usuario, o falsificar o intentar falsificar su identidad durante el uso de la plataforma.
      </li>

      <li>Abstenerse de realizar actividades encaminadas a entorpecer el uso de la red: congestión de enlaces, denegación de servicios, destrucción de información, violación de la privacidad, etc.
      </li>

      <li>Abstenerse de publicar:
          <ul>
              <li>Contenidos relacionados con las actividades políticas partidistas, ideológicas o religiosas.</li>
              <li>Contenidos intencionalmente engañosos o inexactos.</li>
              <li>Material con derechos de autor, incluyendo, sin limitación de software, gráficos, textos, fotografías, sonido, vídeo y grabaciones musicales, no se puede colocar en el campus virtual sin el permiso expreso del propietario de los derechos de autor en el material u otro derecho legal para utilizar el material .</li>
              <li>Información o material que pueda perjudicar a otros usuarios de la red (virus, correo publicitario, cadenas de correo, correos spams etc.).</li>
              <li>Material que sea o que pueda considerarse ilegal, amenazante, dañino, ofensivo, difamatorio, obsceno o pornográfico.</li>
          </ul>

          Cualquier infracción a este código por parte de los usuarios de UPEX será sancionada por la autoridad correspondiente del IAEN de acuerdo con el respectivo procedimiento.
      </li>  
    </ul>
  </p>
  <p>
</section>