<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Terms of Service</title></%block>

<section class="static-container tos">
  <h1>INSTITUTO DE ALTOS ESTUDIOS NACIONALES</h1>
  <h1>TÉRMINOS DEL SERVICIO</h1>
  <h1>CAMPUS VIRTUALES DEL IAEN</h1>

  <p><strong>1.  CONDICIONES GENERALES</strong></p>
  <p>El Uso del Campus Virtual y del Aula Virtual (en adelante Campus Virtual) del IAEN, la Universidad de Posgrado del Estado.</p>

  <p>El Campus Virtual es un servicio que la Universidad de Posgrado del Estado, ofrece a sus estudiantes, docentes y  usuarios en general. En este documento se definen las normas que debe seguir el usuario, dichas normas han sido elaboradas para conseguir un uso eficiente y correcto de los recursos del campus virtual.</p>

  <p>Para participar los cursos virtuales que dicta el IAEN, usted debe primero leer y estar de acuerdo con los siguientes términos, si usted no está de acuerdo, no podrá participar en los cursos.</p>

  <p>La Universidad de Posgrado del Estado IAEN, se reserva el derecho de modificar estos términos en cualquier momento y publicar un aviso en la página web institucional, una vez publicado usted está obligado a aceptar estos términos.</p>

  <p><strong>2. NORMAS DE CONDUCTA</strong></p>
  <p>Usted se compromete a no publicar:
    <ul>
    <li>Contenidos que difamen o amenace a otros.</li>
    <li>Declaraciones o contenidos que violen las leyes.</li>
    <li>Contenidos que discutan actividades ilegales con la intención de cometerlas.</li>
    <li>Contenidos que infrinjan los derechos de autor, incluyendo, pero no limitado a, marcas registradas.</li>
    <li>Contenidos relacionados con las actividades políticas partidistas.</li>
    <li>El material que contiene (es decir pornográfico) lenguaje o imágenes obscenas.</li>
    <li>La publicidad o cualquier otra forma de solicitación comercial.</li>
    <li>Contenidos que sean ilegales.</li>
    <li>Contenidos intencionalmente engañosos o inexactos.</li>
    <li>El material con derechos de autor, incluyendo, sin limitación de software, gráficos, textos, fotografías, sonido, vídeo y grabaciones musicales, no se puede colocar en el campus virtual sin el permiso expreso del gestor de los derechos de autor en el material u otro derecho legal para utilizar el material .</li>
    </ul>
  </p>
  <p>Usted se compromete a no atacar, alterar, inutilizar o deteriorar el campus o redes conectadas al campus virtual y a los entornos de aprendizaje virtuales del IAEN. Usted se compromete a no enviar ningún correo no solicitado a otros usuarios del sitio.</p>
  <p><strong>3.  RESPONSABILIDAD DE LOS CONTENIDOS</strong></p>

  <p>El texto y otros materiales en el campus virtual del IAEN  pueden incluir la opinión del docente específico y no son declaraciones de consejo, opinión, o información del IAEN. Si usted siente que podría ser ofendido por el contenido de los sitios, usted no debe continuar.
  </p>

  <p>Los sitios también pueden incluir las opiniones personales y otras expresiones por usuarios que publiquen entradas en una amplia gama de temas. Ni el contenido de los foros, ni los enlaces a otras páginas web, son examinados, revisados o  aprobados por el IAEN o por cualquier otra entidad relacionada. El IAEN no es un editor de cualquiera de los contenidos de los foros, o de cualquier contenido que pueda estar disponible a través de enlaces desde y hacia ellos.
  </p>

  <p id="honor"><strong>4.  CÓDIGO DE HONOR</strong></p>
  <p>Al inscribirse o matricularse en el campus virtual usted se compromete a: completar todas las evaluaciones, los problemas, las tareas y trabajos con su propio trabajo (a menos que se permita expresamente la colaboración) y cumplir con el número de horas por semana que requiera el curso; reconocer cualquier y todas las fuentes externas utilizadas en su trabajo; abstenerse de cualquier actividad que de manera deshonesta o fraudulenta mejorar sus resultados o en desventaja a otros en el curso; abstenerse de revelar las respuestas a las evaluaciones, los problemas, las tareas y los deberes a los demás; mantener sólo una cuenta de usuario y no dejar que nadie más use su nombre de usuario y / o contraseña; y no acceder o intentar acceder a la cuenta de otro usuario, o falsificar o intentar falsificar su identidad durante el uso del campus virtual.
  </p>

  <p>Este código de honor no tiene la intención de prohibir la discusión del material del curso. Mientras que los estudiantes deben presentar un trabajo que es el suyo, los estudiantes deben sentirse libres para hablar de conferencias u otro material del curso con los demás ya sea en persona o en línea.
  </p>
</section>
id="faq"