<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>TERMINOS Y CONDICIONES DE LOS PROGRAMAS DE FORMACIÓN CONTÍNUA:</title></%block>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Email formaX</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }

p, h2{
  margin:0;
}

div,p,ul,h2,h2{
	margin: 0;
	font-size: 15px;
}

h2.bigger,h2.bigger{
  font-size: 32px;
  font-weight: normal;
}

h2.big,h2.big{
  font-size: 21px;
  font-weight: normal;
}

a.link1{
  color:#108382;font-size:13px;font-weight:bold;text-decoration:none;
}

a.link2{
  padding:8px;background:#108382;font-size:13px;color:#ffffff;text-decoration:none;font-weight:bold;
}

a.link3{
  background:#108382; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;
}
.bgBody{
background: #F6F6F6;
}
.bgItem{
background: #ffffff;
}
  </style>
<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"F6F6F6",
    "link":"108382",
    "color":"999999",
    "bgItem":"ffffff",
    "title":"555555"
  }
</script>

</head>
<body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:helvetica, sans-serif;'>
    
    <!--  --------------------------------------  -->      
    
    <tr>
      <td height='25' bgcolor='#43474A' colspan='3'></td>
    </tr>

    <tr>
      <td height='130' bgcolor='#43474A'>&nbsp;</td>
      <td rowspan='2' width='600' valign='top'>
        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
          
          <!--  ----------------------- -->   
          

          <tr>
            <td class='movableContentContainer'>
              
              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                  <tr>
                    <td bgcolor='#43474A' valign='top'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td align='left' valign='middle' >
                            <div class="contentEditableContainer contentImageEditable">
                              <div class="contentEditable" >
                                <img src="http://virtual.cecep-iaen.edu.ec/1_otros/MINEDUC/images/logo.png" alt='Compagnie logo' data-default="placeholder" data-max-width="300" width='300' height='100'>
                              </div>
                            </div>
                          </td>

                          <td align='right' valign='top' >
                            <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                              <div class="contentEditable" >
                                <a href="#"></a>
                              </div>
                            </div>
                          </td>
                          <td width='18' align='right' valign='top'>
                            <div class="contentEditableContainer contentImageEditable" style='display:inline-block;'>
                              <div class="contentEditable" >
                                
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

             

              

                 <div class='movableContent'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='20' </td></tr>
                      </table>
                    </div>


                    

                    <div class='movableContent'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='20' </td></tr>
                      </table>
                    </div>



                    <div class='movableContent'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='20' </td></tr>
                      </table>
                    </div>

                    <div class='movableContent'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgItem' >
                        <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                        <tr>
                          <td width='16'>&nbsp;</td>
                          <td width="568">
                            <table width="568" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' >
                              <tr>
                                <td align='left' valign='top'>
                                  <div class="contentEditableContainer contentTextEditable" >
                                   <div class="contentEditable" style='color:#555555;font-size:21px;font-weight:normal;'>
                                    <h2 class='big'></h2>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr><td height='16'>&nbsp;</td></tr>
                            <tr>
                              <td align='left' valign='top'>
                                <div class="contentEditableContainer contentTextEditable" >
                                 <div class="contentEditable" style='color: #999999; font-size: 15px; line-height: 19px; text-align: justify;'>
                                 <p></p>
                                 <h2><br/>
                                 </h2>
                                 <h2 style="text-align: justify; color: #BB0002;">TERMINOS Y CONDICIONES DE LOS PROGRAMAS DE FORMACIÓN CONTÍNUA:<br/><br/>
                                 </h2>
                                 
                                 <ol>
                                   <li>El artículo 26 de la Constitución de la República del Ecuador, establece que la educación es un derecho de las personas a lo largo de su vida y un deber ineludible e inexcusable del Estado.  Constituye un área prioritaria de la política pública y de la inversión estatal, garantía de la igualdad e inclusión social y condición indispensable para el buen vivir.  Las personas, las familias y la sociedad tienen el derecho y la responsabilidad de participar en el proceso educativo.</li>
                                   <li>El artículo 226 de la norma constitucional, establece que las instituciones del Estado, sus organismos, dependencias, tendrán el deber de coordinar acciones para el cumplimiento de sus fines y hacer efectivo el goce y ejercicio de los derechos reconocidos por la Constitución.</li>
                                   <li>El artículo 3 de la Ley Orgánica de Educación Intercultural (LOEI), establece que las y los docentes del sector público, entre otros, tiene el siguiente derecho “a. Acceder gratuitamente a procesos de desarrollo profesional, capacitación, actualización, formación continua, mejoramiento pedagógico y académico en todos los niveles y modalidades, según sus necesidades y las del Sistema Nacional de Educación”;</li>
                                   <li>El artículo 73 de la Ley Orgánica de Servicio Público.-“Efectos de la formación y la capacitación.- La formación y capacitación efectuada a favor de las y los servidores públicos, en la que el Estado hubiese invertido recursos económicos, generará la responsabilidad de transmitir y de poner en práctica los nuevos conocimientos adquiridos por un lapso igual al triple del tiempo de formación o capacitación”.</li>
                                   
                                 </ol>
                                   <br/><br/>
                                  
                                  <h2 style="text-align: justify; color: #BB0002;">DEBERES DEL DOCENTE PARTICIPANTE:<br/><br/>
                                 </h2>
                                 
                                 <ol>
                                   <li>Cumplir con la asistencia y aprobar el programa de formación continua en los plazos establecidos y obtener el certificado correspondiente, en caso de que el docente inscrito y seleccionado no se presente a las primeras sesiones de los cursos de formación continua, el MINEDUC podrá entregar ese cupo a otro docente, sin perjuicio de la aplicación del régimen sancionatorio administrativo, según corresponda.</li>
                                   <li>Cumplir con las normas, reglamentos y/o estatutos relacionados con los ámbitos académico, disciplinario y demás, establecidos por las Instituciones de Educación Superior en la cual desarrolla sus estudios así como la normativa ecuatoriana aplicable.</li>
                                   <li>Compensar durante el periodo de 1 año, una vez finalizados los estudios, la beca recibida, en la misma institución educativa que consta en la última acción de personal emitida o en la que el distrito lo determine, plazo en el cual el docente no podrá renunciar al nombramiento obtenido en el magisterio fiscal.</li>
                                   
                                 </ol>
                                 
                                 
                                 
                                 <br/><br/>
                                  
                                  <h2 style="text-align: justify; color: #BB0002;">INCUMPLIMIENTO O FALTAS GRAVES DEL DOCENTE PARTICIPANTE:<br/><br/><br/>
                                  
                                 </h2>
                                 <p> Se considerará para efectos del presente contrato como incumplimientos o faltas graves por parte del docente participante, a los siguientes:</p><br/>
                                 <p>En caso de no aprobación del programa de formación continua:</p>
                                 <ol>
                                   <li>Si el docente participante se rehúsa a difundir sus conocimientos por el doble del tiempo equivalente al empleado en el proceso de formación continua, es decir (1año), será impedido de participar en las actividades de capacitación hasta tanto no cumpla con las actividades de retroalimentación en las propias aulas de clase, sin perjuicio de lo estipulado en la Cláusula cuarta del acuerdo.</li>
                                   <li>En caso que el docente participante cese en su puesto por: renuncia voluntaria formalmente presentada; por pérdida de los derechos de ciudadanía declarada mediante sentencia ejecutoria, por destitución; y por acogerse a los planes de retiro voluntario con indemnización y no pueda transmitir y poner en práctica los conocimientos adquiridos por el triple del tiempo empleado en la actividad de formación continua, de conformidad a lo establecido en el punto 4.2 del presente acuerdo cuando sea pertinente, o haya reprobado la capacitación, la institución dispondrá la adopción de todas las medidas administrativas o judiciales que hubiere lugar para la restitución proporcional o íntegra de los valores invertidos en la capacitación.</li>
                                   <li>Por constar plagio, copia o procedimientos incoherentes a los principios de honestidad y transparencia.</li>
                                
                                 </ol>
                                 
                               <p> En todos estos casos, el docente participante estará obligado a devolver al Ministerio de Educación el valor total o la parte proporcional de lo invertido en su formación, en un plazo no mayor a 6 meses mismo que podrá ser descontado de sus haberes mensuales, sin perjuicio de todas las medidas administrativas o judiciales que hubiere lugar para la restitución proporcional o íntegra de los valores invertidos en la formación. El docente becario autoriza libre y voluntariamente al MINEDUC a realizar el trámite correspondiente al cobro de los valores cancelados en calidad de auspicio o beca de manera inmediata. El MINEDUC se reserva el derecho a cobrar estos valores a través de la Contraloría General del Estado o del Ministerio de Relaciones Laborales por la jurisdicción coactiva”</p>   <br/>
                               
                                 
                                 
                                 
                                 </p> 
                                 
                                 <br/>
                                 </p> 
                                  </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            
                          </tr>
                          
                          
                      </table>
                    </td>
                    <td width='16'>&nbsp;</td>
                  </tr>
                  <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                </table>
              <em style="color: #FC2388; text-align: right;"></em> </div><br>
<!--------------------------------------------------------------------------------------->
<div class='movableContent'>
                      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td>
                            <div class='contentEditableContainer contentImageEditable'>
                              <div class="contentEditable">
                                <img src="http://virtual.cecep-iaen.edu.ec/1_otros/MINEDUC/images/bigImg.jpg" alt='What we do' data-default="placeholder" data-max-width="600" width='600' height='180' >
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr><td height='10' bgcolor='#000000'></td></tr>
                        <tr>
                          <td bgcolor='#000000' style='padding:8px 0;'>
                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                              <tr>
                                <td width='20'></td>
                                <td align='left' valign='top' width='370'>
                                  <div class='contentEditableContainer contentTextEditable'>
                                    <div class="contentEditable" style='color:#ffffff;font-size:21px;line-height:19px;'>
                                      <p ><!----------------></p>
                                    </div>
                                  </div>
                                </td>
                                <td width='20'></td>
                                <td align='center' valign='middle' width='180'>
                                  <div class='contentEditableContainer contentTextEditable'>
                                    <div class="contentEditable">
                                      <a target='_blank' class='link3' href="https://mineduc.formax.edu.ec/login" style='background:#108382; color:#ffffff; padding:8px 10px;text-decoration:none;font-size:13px;'>Ingrese a formaX:</a>
                                    </div>
                                  </div>
                                </td>
                                <td width='20'></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr><td height='10' bgcolor='#000000'></td></tr>
                      </table>
                    </div>
                    
                    
                    
          <!--------------------------------------------------------------------------------------->          
                    
                    
                    
  <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                  <tr><td height='10' bgcolor='#108382'></td></tr>
                    <tr>
                      <td>
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' bgcolor='108382'>
                          <tr>
                            <td width='25'></td>
                            <td width='475' valign='middle'>
                              <div class='contentEditableContainer contentTextEditable'>
                                <div class="contentEditable" style='font-family:Georgia;font-style:italic;color:#0F4666;font-size:15px;line-height:19px;'>
                                  <p style='color:#fff;'></p>
                                </div>
                              </div>
                            </td>
                            <td width='45' valign='top'>
                              <div class='contentEditableContainer contentFacebookEditable'>
                                <div class="contentEditable"> 
                                </div>
                              </div>
                            </td>
                            <td width='10'></td>
                            <td width='45' valign='top'>
                              <div class='contentEditableContainer contentTwitterEditable'>
                                <div class="contentEditable"> 
                                </div>
                              </div>  
                            </td>
                            <td width='10'></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height='10' bgcolor='#108382'></td></tr>
                </table>
              </div>
<!--------------------------------------------------------------------------------------->
              <div class='movableContent'>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgBody' >
                  <tr><td height='54' style='border-bottom:1px solid #DAE0E4'></td></tr>

                  <tr><td height='28'></td></tr>

                  <tr>
                    <td valign='top' align='center'>
                      <div class="contentEditableContainer contentTextEditable">
                      
                        <div class="contentEditable" style='color:#A8B0B6; font-size:13px;line-height: 16px;'>
                          
                        </div>
                      </div>
                      </td>
                    </tr>

                    <tr><td height='28'></td></tr>

                    <tr>
                      <td valign='top' align='center'>
                        
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" style='color:#A8B0B6; font-size:13px;line-height: 15px;'>
                            <p>&nbsp;</p>
                          </div>
                        </div>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            
                          </div>
                        </div>
                        <div class="contentEditableContainer contentTextEditable">
                          <div class="contentEditable" >
                            
                          </div>
                        </div>
                      </td>
                    </tr>
                </table>
              </div>

              <!--  ----------------------------  -->
      </td>
    </tr>   

    

      <tr><td height='28'>&nbsp;</td></tr>

    </table>
  </td>
  <td height='130' bgcolor='#43474A'>&nbsp;</td>
</tr>

<tr>
  <td class='bgBody'>&nbsp;  </td>
  <td class='bgBody'>&nbsp;  </td>
</tr>
</table>
</body>
