{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Usted está recibiendo este correo electrónico porque ha solicitado un restablecimiento de su contraseña para la cuenta de usuario en UPEx.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

Si usted no ha solicitado este cambio, puede pasar por alto este correo electrónico - pues  todavía no hemos restablecido tu contraseña.

{% trans "Thanks for using our site!" %}

{% blocktrans %}El Equipo de UPEx{% endblocktrans %}

{% endautoescape %}
